<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/hero-image.png" alt="607" height="510" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="Cooking with Node.js"
    >
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Huge selection of delicies recipe ideas</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, impedit consequatur accusantium facilis animi repellendus voluptatibus, ipsa perspiciatis
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/expore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
      <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>
  </div>

</div>